/node_modules
/public/hot
/public/storage
/resources/views/partials/menu.blade.php
/public/css/custom.css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/views/auth/login.blade.php
/resources/view/auth/register.blade.php
/resources/views/auth/passwords/reset.blade.php
/resources/views/admin/messenger/index.blade.php
/resources/views/admin/messenger/reply.blade.php
/resources/views/admin/messenger/show.blade.php
/resources/views/admin/messenger/template.blade.php