.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}

.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}

.c-app {
    /* background-color : #fff3d2 ; */
    /* background-color : #ed1847 ; */
    background: #BA0C19;

    color:#000;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle:hover, .c-sidebar .c-sidebar-nav-link:hover {
    color: #fff;
    background: #be153a;
}

.c-sidebar {
    /* background: #fff3d2; */
    background: #BA0C19;
    
    /* background: #ed1847!important; */
    /* color:#000; */
}

/* .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link {
    color: #000;
} */

.bg-primary {
    /* background-color: #ed1847!important; */
    background-color: #810810 !important;
}

/* .c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link {
    color: #000;
    background: 0 0;
} */

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link {
    /* color: rgb(255 255 255); */
    /* color: #000; */
    font-weight: bold;
    background: 0 0;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon {
    /* color: rgb(255 255 255); */
    /* color: #ed1847; */
}

.c-sidebar .c-sidebar-brand, .c-sidebar .c-sidebar-header {
    background: rgb(255 255 255);
}

.c-sidebar-nav.ps {
    border-right: 5px solid #dc858c;
}

.card-header:first-child {
    background-color: #fff3d2;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.ml-3, .mx-3, html:not([dir=rtl]) .mfs-3 {
    margin-left: 0!important;
}

.btn-success {
    color: #fff;
    background-color: #e55353;
    border-color: #e55353;
}

.btn-success:hover {
    color: #fff;
    background-color: #a03939;
    border-color: #5a0000;
}

.btn-success:active, .btn-success:checked, .btn-success:focus  {
    color: #fff;
    background-color: #810810;
    border-color: #492d09;
}

.btn-warning {
    color: #fff;
    background-color: #968d76;
    border-color: #968d76;

}

.btn-warning:hover {
    color: #fff;
    background-color: #6e6859;
    border-color: #6e6859;

}

.btn-primary {
    color: #fff;
    background-color: #810810;
    border-color: #492d09;
}

.btn-primary:hover {
    color: #fff;
    background-color: #810810;
    border-color: #492d09;
}

.btn-primary:active, .btn-primary:checked  {
    color: #fff;
    background-color: #810810;
    border-color: #492d09;
}


.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ad6c15;
    border-color: #72470e;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable, .dataTables_wrapper.no-footer div.dataTables_scrollBody>table {
    color: black;
}

.btn-info {
    color: #fff;
    background-color: #a71414;
    border-color: #e55353;
}

.btn-info:hover {
    color: #fff;
    background-color: #810707;
    border-color: #5a0000;
}

.btn-info:active, .btn-info:checked, .btn-info:focus  {
    color: #fff;
    background-color: #4e080d;
    border-color: #492d09;
}
